extends layout 

block content
    div
        a.signin(href='https://id-sandbox.cashtoken.africa/oauth/authorize?response_type=code&client_id=wprQYMZBqqx-dgszFUfQG&code_challenge=E9Melhoa2OwvFrEMTJguCHaoeK1t8URWbuGJSstw-cM&code_challenge_method=S256&redirect_uri=http://localhost:3000/callback&scope=openid profile email&audience=appointments:api&state=xyzABC123')
            | Sign In